<nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky" id="navbar">
      <div class="container-fluid color p-0">
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarNavDropdown"
          aria-controls="navbarNavDropdown"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="n2 d-lg-none">
          <a
            href="index"
            class="navbar-brand d-block d-lg-none n2"
            href="#"
          >
            <i class="fa-brands fa-accusoft"></i>GROOVEMADE
          </a>
        </div>
        <div class="navbar-item color rightalign d-lg-none">
          <a class="nav-link" href="Mycart"
            ><i class="fas fa-shopping-cart logo"></i> &nbsp;<span
              class="change"
              >Cart</span
            ></a
          >
        </div>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0 steps-sampling navbar-alignment" >
            <li class="nav-item dropdown">
              <a
                href="Moreitems"
                class="nav-link text-white nav-item"
                href="#"
                id="navbarDropdownMenuLink"
                aria-expanded="false"
              >
                Shop
              </a>
            </li>
            <li class="nav-item color">
              <a href="index" class="nav-link" aria-current="page">Home</a>
            </li>
            <li class="nav-item color">
              <a class="nav-link" href="aboutus" aria-current="page"
                >About Us</a
              >
            </li>
            <li class="nav-item color">
              <a class="nav-link" href="login" aria-current="page"
                >Login</a
              >
            </li>
            <li class="nav-item dropdown">
              <ul
                class="dropdown-menu nav-bar"
                aria-labelledby="navbarDropdownMenuLink"
              >
                <div class="row d1 container-fluid">
                  <li class="col-4">
                    <a class="dropdown-item col-lg-4" href="#">Action</a>
                  </li>

                  <li class="col-4">
                    <a class="dropdown-item col-lg-4" href="#"
                      >Another action</a
                    >
                  </li>
                  <li class="col-4">
                    <a class="dropdown-item col-lg-4" href="#"
                      >Something else here</a
                    >
                  </li>
                </div>
              </ul>
            </li>
          </ul>
          <div class="nb container-fluid">
            <a
              href="index"
              class="navbar-brand n1 d-none d-lg-block"
              href="#"
            >
              <i class="fa-brands fa-accusoft"></i>GROOVEMADE
            </a>
          </div>
          <div class="navbar-item color rightalign d-lg-block d-none">
            <a class="nav-link" href="Mycart"
              ><i class="fas fa-shopping-cart logo"></i> &nbsp;<span
                class="change"
                >Cart</span
              ></a
            >
            <a href=""> </a>
          </div>
        </div>
      </div>
    </nav>
