    <link rel="stylesheet" href="css/stylesheet.css">
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/demo.css">
    <link rel="shortcut icon" href="../favicon.ico">
    <link rel="stylesheet" type="text/css" href="css/style.css" />

    <link href="https://fonts.googleapis.com/css?family=Nunito:200,300,400,700" rel="stylesheet">
    
<svg id="wave" style="transform:rotate(180deg); transition: 0.3s" viewBox="0 0 1440 230" version="1.1" xmlns="https://www.w3.org/2000/svg"><defs><linearGradient id="sw-gradient-0" x1="0" x2="0" y1="1" y2="0"><stop stop-color="rgba(245.209, 0, 255, 1)" offset="0%"></stop><stop stop-color="rgba(225.428, 176.599, 255, 1)" offset="100%"></stop></linearGradient></defs><path style="transform:translate(0, 0px); opacity:1" fill="url(#sw-gradient-0)" d="M0,69L40,88.2C80,107,160,146,240,164.8C320,184,400,184,480,168.7C560,153,640,123,720,99.7C800,77,880,61,960,49.8C1040,38,1120,31,1200,57.5C1280,84,1360,146,1440,161C1520,176,1600,146,1680,126.5C1760,107,1840,100,1920,88.2C2000,77,2080,61,2160,65.2C2240,69,2320,92,2400,107.3C2480,123,2560,130,2640,130.3C2720,130,2800,123,2880,126.5C2960,130,3040,146,3120,126.5C3200,107,3280,54,3360,46C3440,38,3520,77,3600,84.3C3680,92,3760,69,3840,61.3C3920,54,4000,61,4080,88.2C4160,115,4240,161,4320,161C4400,161,4480,115,4560,80.5C4640,46,4720,23,4800,15.3C4880,8,4960,15,5040,30.7C5120,46,5200,69,5280,65.2C5360,61,5440,31,5520,23C5600,15,5680,31,5720,38.3L5760,46L5760,230L5720,230C5680,230,5600,230,5520,230C5440,230,5360,230,5280,230C5200,230,5120,230,5040,230C4960,230,4880,230,4800,230C4720,230,4640,230,4560,230C4480,230,4400,230,4320,230C4240,230,4160,230,4080,230C4000,230,3920,230,3840,230C3760,230,3680,230,3600,230C3520,230,3440,230,3360,230C3280,230,3200,230,3120,230C3040,230,2960,230,2880,230C2800,230,2720,230,2640,230C2560,230,2480,230,2400,230C2320,230,2240,230,2160,230C2080,230,2000,230,1920,230C1840,230,1760,230,1680,230C1600,230,1520,230,1440,230C1360,230,1280,230,1200,230C1120,230,1040,230,960,230C880,230,800,230,720,230C640,230,560,230,480,230C400,230,320,230,240,230C160,230,80,230,40,230L0,230Z"></path><defs><linearGradient id="sw-gradient-1" x1="0" x2="0" y1="1" y2="0"><stop stop-color="rgba(230.295, 175.16, 255, 1)" offset="0%"></stop><stop stop-color="rgba(113.367, 11, 255, 1)" offset="100%"></stop></linearGradient></defs><path style="transform:translate(0, 50px); opacity:0.9" fill="url(#sw-gradient-1)" d="M0,161L40,141.8C80,123,160,84,240,61.3C320,38,400,31,480,30.7C560,31,640,38,720,65.2C800,92,880,138,960,157.2C1040,176,1120,169,1200,149.5C1280,130,1360,100,1440,103.5C1520,107,1600,146,1680,164.8C1760,184,1840,184,1920,157.2C2000,130,2080,77,2160,53.7C2240,31,2320,38,2400,38.3C2480,38,2560,31,2640,57.5C2720,84,2800,146,2880,149.5C2960,153,3040,100,3120,88.2C3200,77,3280,107,3360,115C3440,123,3520,107,3600,118.8C3680,130,3760,169,3840,168.7C3920,169,4000,130,4080,103.5C4160,77,4240,61,4320,72.8C4400,84,4480,123,4560,138C4640,153,4720,146,4800,126.5C4880,107,4960,77,5040,84.3C5120,92,5200,138,5280,153.3C5360,169,5440,153,5520,145.7C5600,138,5680,138,5720,138L5760,138L5760,230L5720,230C5680,230,5600,230,5520,230C5440,230,5360,230,5280,230C5200,230,5120,230,5040,230C4960,230,4880,230,4800,230C4720,230,4640,230,4560,230C4480,230,4400,230,4320,230C4240,230,4160,230,4080,230C4000,230,3920,230,3840,230C3760,230,3680,230,3600,230C3520,230,3440,230,3360,230C3280,230,3200,230,3120,230C3040,230,2960,230,2880,230C2800,230,2720,230,2640,230C2560,230,2480,230,2400,230C2320,230,2240,230,2160,230C2080,230,2000,230,1920,230C1840,230,1760,230,1680,230C1600,230,1520,230,1440,230C1360,230,1280,230,1200,230C1120,230,1040,230,960,230C880,230,800,230,720,230C640,230,560,230,480,230C400,230,320,230,240,230C160,230,80,230,40,230L0,230Z"></path></svg>
<form>
    <div class="user1">
<label for="user">Enter your Username:</label>
        <!-- <h6 class="d-block" >Enter your Username:</h6> -->
      &nbsp;<input placeholder="Username" type="text" class="input" required="" id="user" ></div>
</div>

<div class="user1">
    <label for="pass">Enter your Password:</label>
    <!-- <h6 class="d-block">Enter your Password:</h6> -->
&nbsp;<input placeholder="Password" type="password" class="input" required="" id="pass">
</div>
<div class="user1">
    <label for="pass1">Re-enter your Password:</label>
    <!-- <h6 class="d-block">Enter your Password:</h6> -->
&nbsp;<input placeholder="Password" type="password" class="input" required="" id="pass1">
</div>
<h5 class="pass-display"><span class="i">i</span> Remember to Use Special Characters,Uppercase and Lowercase Letters,Numbers etc for Strong Password</h5>

      </button>
    </div></div>
<br>
<div id="center">  <button class="cssbuttons-io" id="create">
    <span>Create New Account</span>
  </button></div>
      
    
    
</div>

</form>

