    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />

    <link rel="stylesheet" href="css/normalize.css" />
    <link rel="stylesheet" href="css/stylesheet.css" />
    <link rel="stylesheet" type="text/css" href="css/style.css" />
    
    <div class="banner responsive" id="test">
      <h2 class="txt-reveal">The New Desk Shelf System</h2>
      <p id="first-txt" class="txt-reveal">
        Available in Walnut, Maple, Matte Black & Matte White
      </p>
      <a href="" id="a-animation" class="bold-1 txt-reveal">LEARN MORE</a>
    </div>

    <div class="design txt-reveal">
      <div class="firstDesign">
        <h1>Design Inspires</h1>
        <p class="alignment">
          Build your dream workspace, so <br />
          you can get your best work done.
        </p>
        <a href="#" class="text-white" id="a-animation">GET STARTED</a>
      </div>
    </div>
    <div class="container-fluid image-section text-center local">
      <div class="row" id="web-fix">
        <div class="col-sm-6">
          <img src="img/product1.png" class="img img1" alt="" />

          <h3 class="d-sm-none img1-txt">Desk Pads</h3>

          <a href="#" class="lm d-sm-none lmfs" id="a-animation">LEARN MORE</a>
        </div>

        <div class="col-sm-6 text-center img1-mq">
          <img src="img/product2.png" class="img img3" alt="" />

          <h3 class="d-sm-none img3-txt" >Laptop Stands</h3>
          <br />

          <a href="#" class="lm d-sm-none img3-txt lmfs" id="a-animation"
            >LEARN MORE</a
          >
        </div>
      </div>
    </div>
    <div class="container-fluid d-none d-sm-block local" style="padding-bottom: 10px;">
      <div class="row" id="web-fix">
        <div class="col-sm-6 p1 fnt " style="margin-top: 40px;">
          <h3>Desk Pads</h3>

          <a href="#" class="lm" id="a-animation">LEARN MORE</a>
        </div>
        <div class="col-sm-6 p2 fnt " style="margin-top: 40px;">
          <h3>Laptop Stands</h3>

          <a href="#" class="lm" id="a-animation">LEARN MORE</a>
        </div>
      </div>
    </div>

    <div class="carousel-main">
      <h3>Featured Products</h3>
      <p>See What’s Trending Right Now</p>
    </div>

    <div class="container">
      <div class="main">
        <div id="mi-slider" id="page-background" class="mi-slider page-bg">
          <ul>
            <li class="">
           <a href="Moreitems">
                <img
                  src="img/items/item1.0.png"
                  onmouseover="this.src='img/items/item1.1.png'"
                  onmouseout="this.src='img/items/item1.0.png'"

                  class="image page-bg"
                  id="page-background"
                  border="0"
                  alt=""
                />
                <h4>Walnut MagSafe Stand</h4>
                <br />
                <h4>$120</h4>
              </a>
            </li>
            <li>
           <a href="Moreitems">
                <img
                  src="img/items/item2.0.png"
                  onmouseover="this.src='img/items/item2.1.png'"
                  onmouseout="this.src='img/items/item2.0.png'"
                  class="image"
                  border="0"
                  alt=""
                />
                <h4>Walnut Ipad Stand</h4>
                <br />
                <h4>$140</h4>
              </a>
            </li>
            <li>
           <a href="Moreitems">
                <img
                  src="img/items/item3.0.png"
                  onmouseover="this.src='img/items/item3.1.png'"
                  onmouseout="this.src='img/items/item3.0.png'"
                  class="image"
                  border="0"
                  alt=""
                />
                <h4>Walnut Monitor Stand</h4>
                <br />
                <h4>$200</h4>
              </a>
            </li>
            <li>
              <a href="Moreitems">
                <img
                  src="img/items/item4.0.png"
                  onmouseover="this.src='img/items/item4.1.png'"
                  onmouseout="this.src='img/items/item4.0.png'"
                  class="image"
                  border="0"
                  alt=""
                />
                <h4>Walnut Headphone Stand</h4>
                <br />
                <h4>$100</h4>
              </a>
            </li>
          </ul>
          <ul>
            <li>
              <a href="Moreitems">
                <img
                  src="img/items/item5.0.png"
                  onmouseover="this.src='img/items/item5.1.png'"
                  onmouseout="this.src='img/items/item5.0.png'"
                  class="image"
                  border="0"
                  alt=""
                />
                <h4>Walnut Keyboard Tray</h4>
                <br />
                <h4>$110</h4>
              </a>
            </li>
            <li>
              <a href="Moreitems">
                <img
                  src="img/items/item6.1.png"
                  onmouseover="this.src='img/items/item6.0.png'"
                  onmouseout="this.src='img/items/item6.1.png'"
                  class="image"
                  border="0"
                  alt=""
                />
                <h4>Walnut &amp; Leather mouse pad</h4>
                <br />
                <h4>$100</h4>
              </a>
            </li>
            <li>
              <a href="Moreitems">
                <img
                  src="img/items/item7.0.png"
                  onmouseover="this.src='img/items/item7.1.png'"
                  onmouseout="this.src='img/items/item7.0.png'"
                  class="image"
                  border="0"
                  alt=""
                />
                <h4>Black pen</h4>
                <br />
                <h4>$70</h4>
              </a>
            </li>
            <li>
              <a href="Moreitems">
                <img
                  src="img/items/item8.0.png"
                  onmouseover="this.src='img/items/item8.1.png'"
                  onmouseout="this.src='img/items/item8.0.png'"
                  class="image size"
                  border="0"
                  alt=""
                />
                <h4>Wool Felt Desk Pad</h4>
                <br />
                <h4>$160</h4>
              </a>
            </li>
          </ul>

          <nav class="dots">
            <a href="#">.</a>
            <a href="#">.</a>

            <div class="d-inline-block float-end more-items-align">
              <a id="more-items" class="more-items" href="Moreitems"
                >More Items</a
              >
            </div>
          </nav>
        </div>
      </div>
    </div>

    <div class="banner1">
      <h2>Home Office Inspiration</h2>
      <p>
        You need a home office that helps you get your work done. Check out
        these creative workspace solutions for a little inspiration to take your
        own space up a notch or two.
      </p>
      <a href="" id="a-animation">LEARN MORE</a>
    </div>

    <div class="secondDesign">
      <h1>Made The Hard Way</h1>
      <p>
        Our signature craftsmanship has been honed over a decade of
        manufacturing innovation here in Portland, Oregon. We combine the skills
        of our small in-house team with the collective strength of collaborators
        throughout the US to deliver quality products worth investing in.
      </p>
    </div>

    <iframe
      class="yt-frame d-lg-none"
      id="ytframe"
      src="https://www.youtube.com/embed/jhCIY0sa-YQ"
      title="How to LEVEL UP Your Desk Setup in 2022 - Minimalist Desk Accessories - Grovemade MAJOR UNBOXING"
      frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
      allowfullscreen
    ></iframe>

    <iframe
      class="yt-frame d-none d-lg-block"
      width="55%"
      height="60%"
      src="https://www.youtube.com/embed/jhCIY0sa-YQ"
      title="How to LEVEL UP Your Desk Setup in 2022 - Minimalist Desk Accessories - Grovemade MAJOR UNBOXING"
      frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
      allowfullscreen
    ></iframe>

    <div class="secondDesign">
      <h1>Make Work Meaningful</h1>
      <p>
        We're here because we believe that your work deserves the best. A team
        that loves working together is the magic that makes it all happen.
      </p>
    </div>

    <div class="pb-5 img-fluid person-box">
      <div id="cf" class="person2 d-inline-block pad">
        <a href=""
          ><img
            class="top img-fluid"
            src="img/person/person1.1.jpg"
            class="person1 img-fluid"
            alt="p1"
          />
          <img
            class="bottom img-fluid"
            src=" img/person/person1.0.jpg"
            class="person2 img-fluid"
            alt="p2"
          />
          <span class="tooltip">LEARN MORE</span></a>
      </div>
      <div id="cf" class="person2 d-inline-block pad">
        <a href=""
          ><img
            class="top img-fluid"
            src="img/person/person2.1.jpg"
            class="person1 img-fluid"
            alt="p1"
          />
          <img
            class="bottom img-fluid"
            src=" img/person/person2.0.jpg"
            class="person2 img-fluid"
            alt="p2"
          />
          <span class="tooltip">LEARN MORE</span></a
        >
      </div>
      <!-- <div id="cf" class="person2 d-inline-block pad">
        <a href="#"
          ><img
            class="top img-fluid"
            src="img/person/person3.0.jpg"
            class="person1 img-fluid"
            alt="p1"
          />
          <img
            class="bottom img-fluid"
            src=" img/person/person3.1.jpg"
            class="person2 img-fluid"
            alt="p2"
          />
          <span class="tooltip">LEARN MORE</span></a
        >
      </div> -->
      <div id="cf" class="person2 d-inline-block pad">
        <a href=""
          ><img
            class="top img-fluid"
            src="img/person/person4.1.jpg"
            class="person1 img-fluid"
            alt="p1" />
          <img
            class="bottom img-fluid"
            src=" img/person/person4.0.jpg"
            class="person2 img-fluid"
            alt="p2"
        /></a>
      </div>
      <div id="cf" class="person2 d-inline-block pad">
        <a href=""
          ><img
            class="top img-fluid"
            src="img/person/person5.1.jpg"
            class="person1 img-fluid"
            alt="p1" />
          <img
            class="bottom img-fluid"
            src=" img/person/person5.0.jpg"
            class="person2 img-fluid"
            alt="p2"
        /></a>
      </div>
      <!-- <div id="cf" class="person2 d-inline-block pad">
        <a href="">
          <img
            class="top img-fluid"
            src="img/person/person6.1.jpg"
            class="person1 img-fluid"
            alt="p1" />
          <img
            class="bottom img-fluid"
            src="img/person/person6.0.jpg"
            class="person2 img-fluid"
            alt="p2"
        /></a>
      </div> -->
      <div id="cf" class="person2 d-inline-block pad">
        <a href="">
          <img
            class="top img-fluid"
            src="img/person/person7.1.jpg"
            class="person1 img-fluid"
            alt="p1" />
          <img
            class="bottom img-fluid"
            src="img/person/person7.0.jpg"
            class="person2 img-fluid"
            alt="p2"
        /></a>
      </div>
      <div id="cf" class="person2 d-inline-block pad">
        <a href="">
          <img
            class="top img-fluid"
            src="img/person/person8.1.jpg"
            class="person1 img-fluid"
            alt="p1" />
          <img
            class="bottom img-fluid"
            src="img/person/person8.0.jpg"
            class="person2 img-fluid"
            alt="p2"
        /></a>
      </div>
      <div id="cf" class="person2 d-inline-block pad">
        <a href="">
          <img
            class="top img-fluid"
            src="img/person/person9.1.jpg"
            class="person1 img-fluid"
            alt="p1" />
          <img
            class="bottom img-fluid"
            src="img/person/person9.0.jpg"
            class="person2 img-fluid"
            alt="p2"
        /></a>
      </div>
      <div id="cf" class="person2 d-inline-block pad">
        <a href="">
          <img
            class="top img-fluid"
            src="img/person/person10.1.jpg"
            class="person1 img-fluid"
            alt="p1" />
          <img
            class="bottom img-fluid"
            src="img/person/person10.0.jpg"
            class="person2 img-fluid"
            alt="p2"
        /></a>
      </div>
      <div id="cf" class="person2 d-inline-block pad">
        <a href="">
          <img
            class="top img-fluid"
            src="img/person/person11.1.jpg"
            class="person1 img-fluid"
            alt="p1" />
          <img
            class="bottom img-fluid"
            src="img/person/person11.0.jpg"
            class="person2 img-fluid"
            alt="p2"
        /></a>
      </div>
      <div id="cf" class="person2 d-inline-block pad">
        <a href="">
          <img
            class="top img-fluid"
            src="img/person/person12.1.jpg"
            class="person1 img-fluid"
            alt="p1" />
          <img
            class="bottom img-fluid"
            src="img/person/person12.0.jpg"
            class="person2 img-fluid"
            alt="p2"
        /></a>
      </div>
      <div id="cf" class="person2 d-inline-block pad">
        <a href="">
          <img
            class="top img-fluid"
            src="img/person/person13.1.jpg"
            class="person1 img-fluid"
            alt="p1" />
          <img
            class="bottom img-fluid"
            src="img/person/person13.0.jpg"
            class="person2 img-fluid"
            alt="p2"
        /></a>
      </div>
      <div id="cf" class="person2 d-inline-block pad">
        <a href="">
          <img
            class="top img-fluid"
            src="img/person/person14.1.jpg"
            class="person1 img-fluid"
            alt="p1" />
          <img
            class="bottom img-fluid"
            src="img/person/person14.0.jpg"
            class="person2 img-fluid"
            alt="p2"
        /></a>
      </div>
      <div id="cf" class="person2 d-inline-block pad">
        <a href="">
          <img
            class="top img-fluid"
            src="img/person/person15.1.jpg"
            class="person1 img-fluid"
            alt="p1" />
          <img
            class="bottom img-fluid"
            src="img/person/person15.0.jpg"
            class="person2 img-fluid"
            alt="p2"
        /></a>
      </div>
      <div id="cf" class="person2 d-inline-block pad">
        <a href="">
          <img
            class="top img-fluid"
            src="img/person/person16.1.jpg"
            class="person1 img-fluid"
            alt="p1" />
          <img
            class="bottom img-fluid"
            src="img/person/person16.0.jpg"
            class="person2 img-fluid"
            alt="p2"
        /></a>
      </div>
      <div id="cf" class="person2 d-inline-block pad">
        <a href="">
          <img
            class="top img-fluid"
            src="img/person/person17.1.jpg"
            class="person1 img-fluid"
            alt="p1" />
          <img
            class="bottom img-fluid"
            src="img/person/person17.0.jpg"
            class="person2 img-fluid"
            alt="p2"
        /></a>
      </div>
      <div id="cf" class="person2 d-inline-block pad">
        <a href="">
          <img
            class="top img-fluid"
            src="img/person/person18.1.jpg"
            class="person1 img-fluid"
            alt="p1" />
          <img
            class="bottom img-fluid"
            src="img/person/person18.0.jpg"
            class="person2 img-fluid"
            alt="p2"
        /></a>
      </div>
      <div id="cf" class="person2 d-inline-block pad">
        <a href="">
          <img
            class="top img-fluid"
            src="img/person/person19.1.jpg"
            class="person1 img-fluid"
            alt="p1" />
          <img
            class="bottom img-fluid"
            src="img/person/person19.0.jpg"
            class="person2 img-fluid"
            alt="p2"
        /></a>
      </div>
      <div id="cf" class="person2 d-inline-block pad">
        <a href="">
          <img
            class="top img-fluid"
            src="img/person/person20.1.jpg"
            class="person1 img-fluid"
            alt="p1" />
          <img
            class="bottom img-fluid"
            src="img/person/person20.0.jpg"
            class="person2 img-fluid"
            alt="p2"
        /></a>
      </div>
      <div id="cf" class="person2 d-inline-block pad">
        <a href="">
          <img
            class="top img-fluid"
            src="img/person/person21.1.jpg"
            class="person1 img-fluid"
            loading="eager
            alt="p1" />
          <img
            class="bottom img-fluid"
            src="img/person/person21.0.jpg"
            class="person2 img-fluid"
            loading="eager
            alt="p2"
        /></a>
      </div>
      <div id="cf" class="person2 d-inline-block pad">
        <a href="">
          <img
            class="top img-fluid"
            src="img/person/person22.1.jpg"
            class="person1 img-fluid"
            loading="eager
            alt="p1" />
          <img
            class="bottom img-fluid"
            src="img/person/person22.0.jpg"
            class="person2 img-fluid"
            loading="eager
            alt="p2"
        /></a>
      </div>
      <div id="cf" class="person2 d-inline-block pad">
        <a href="">
          <img
            class="top img-fluid"
            src="img/person/person23.1.jpg"
            class="person1 img-fluid"
            loading="eager
            alt="p1" />
          <img
            class="bottom img-fluid"
            src="img/person/person23.0.jpg"
            class="person2 img-fluid"
            loading="eager
            alt="p2"
        /></a>
      </div>
      <div id="cf" class="person2 d-inline-block pad">
        <a href="">
          <img
            class="top img-fluid"
            src="img/person/person24.1.jpg"
            class="person1 img-fluid"
            loading="eager
            alt="p1" />
          <img
            class="bottom img-fluid"
            src="img/person/person24.0.jpg"
            class="person2 img-fluid"
            loading="eager
            alt="p2"
        /></a>
      </div>
      <div id="cf" class="person2 d-inline-block pad">
        <a href="">
          <img
            class="top img-fluid"
            src="img/person/person25.1.jpg"
            class="person1 img-fluid"
            loading="eager
            alt="p1" />
          <img
            class="bottom img-fluid"
            src="img/person/person25.0.jpg"
            class="person2 img-fluid"
            loading="eager
            alt="p2"
        /></a>
      </div>
      <div id="cf" class="person2 d-inline-block pad">
        <a href="">
          <img
            class="top img-fluid"
            src="img/person/person26.1.jpg"
            class="person1 img-fluid"
            alt="p1" />
          <img
            class="bottom img-fluid"
            src="img/person/person26.0.jpg"
            class="person2 img-fluid"
            alt="p2"
        /></a>
      </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.3/gsap.min.js" integrity="sha512-gmwBmiTVER57N3jYS3LinA9eb8aHrJua5iQD7yqYCKa5x6Jjc7VDVaEA0je0Lu0bP9j7tEjV3+1qUm6loO99Kw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script>
      let t1 = gsap.timeline({defaults: { Easings: Expo.Easeout}});

      t1.from('.banner',{ scale: 0.6, duration:3  ,opacity:0, ease: Expo.easeout})
      .to('.txt-reveal' , { clipPath: 'polygon(0 0, 100% 0, 100% 100%, 0 100%)', y:0, stagger:.5,duration:1}, "-=0.5" )
      .to('.local' ,{ clipPath: 'polygon(0 0, 100% 0, 100% 100%, 0 100%)', y:0 , stagger: .6, opacity:1 , duration:.5, delay:2})
      
    </script>
 
  
  <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.3/gsap.min.js" integrity="sha512-gmwBmiTVER57N3jYS3LinA9eb8aHrJua5iQD7yqYCKa5x6Jjc7VDVaEA0je0Lu0bP9j7tEjV3+1qUm6loO99Kw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script src="js/modernizr.custom.63321.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="https://kit.fontawesome.com/3af0056356.js" crossorigin="anonymous"></script>
  <script src="js/jquery.catslider.js"></script>

  <script src="js/main.js"></script>







