    <link rel="stylesheet" href="css/stylesheet.css">
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/demo.css">
    <link rel="shortcut icon" href="../favicon.ico">
    <link rel="stylesheet" type="text/css" href="css/style.css" />

    <link href="https://fonts.googleapis.com/css?family=Nunito:200,300,400,700" rel="stylesheet">

    
<div class="coming-soon-main">
    <img src="img/comingsoon.png">
</div>
<h1 style="text-align: center; margin-left:10px;">Coming Soon!</h1>
<!-- <button onclick="Show()">Click Me! (Suprise!)</button> -->
<div id="center">  <button class="cssbuttons-io" id="create" onclick="Show()">
    <span>Click Me! (Suprise!)</span>
  </button></div>

<video width="100%" style="display: none;" height="90%"  id="rickroll" controls preload="auto|metadata|none"  loop>
    <source src="video/videoplayback.mp4" type="video/mp4">
    <source src="video/videoplayback.webm"  type="video/webm"></video>
    <img src="" alt="">

