
    <link rel="stylesheet" href="css/stylesheet.css">
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/demo.css">
    <link rel="shortcut icon" href="../favicon.ico">
    <link rel="stylesheet" type="text/css" href="css/style.css" />

    <link href="https://fonts.googleapis.com/css?family=Nunito:200,300,400,700" rel="stylesheet">

    
    <div style="margin-left: 60px; margin-right: 60px; margin-top: 60px;">
<div style="border-bottom:1px solid white; text-align: center;  font-family: 'Ledger', sans-serif;">
    <h1 style="font-size: 40px !important;">Returns</h1>   
</div>
<h1 style="text-align: center;  font-family: 'Ledger', sans-serif; font-size: 2.35em;"> Returns & Exchanges</h1>
<p style="font-weight: bold; font-size: 1.2em;">Please read thoroughly — note that return/exchange instructions have changed.

    If you are not satisfied with your order within the first 15 days of receiving your product, please fill out our return/exchange request form using the button below. Shipping fees are non-refundable.</p>
    <ul style="font-size: 1.15em;">
        <li>Leather and Matte Desk Pads are particularly prone to damage in transit. Please roll to at least a 6-inch diameter, and send in a similarly sized box as it was shipped in. For Matte Desk Pads, roll with the cork side out if you have unrolled it from its original packaging.</li>
        <li>Due to variations in monitor/screen settings and the wide variation in natural material, images on the website may not match the actual products shipped. Color/grain dissatisfaction is not a valid reason for an exchange.</li>
  <li>If you received your item as a gift, please include any information you have - the order number, the name or email of the person who ordered the gift, etc - and we will make sure you are taken care of.</li>
    </ul>
    <h2 style="text-align: center;">Domestic Returns and Exchanges</h2>
    <p style="font-size: 1.3em; text-align: center;">Please note that domestic customers are responsible for the cost of shipping returned or exchanged items to Grovemade.</p>
    <h2 style="text-align: center;">International Returns and Exchanges</h2>
    <p style="font-size: 1.3em; text-align: center;">Please note that international customers are responsible for the cost of shipping, duties, customs fees, and taxes on returned or exchanged items to Grovemade.</p>
</div>