@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Hubballi&display=swap");
@import url("https://fonts.cdnfonts.com/css/ledger");
@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");
html {
    scroll-behavior: smooth;
}

a {
    text-decoration: none !important;
}

body.dialog-open {
    overflow: hidden;
}

body {
    padding: 0;
    margin: 0;
    overflow: auto;
    background-color: black !important;
    color: rgb(255, 255, 255) !important;
    width: 100% !important;
    height: auto!important;
    -webkit-box-sizing: border-box !important;
    -moz-box-sizing: border-box !important;
    -ms-box-sizing: border-box !important;
    box-sizing: border-box !important;
}

.navbarscroll {
    width: 100%;
}


/* .nav-link{
    padding: 0.3em !important;
} */

.rightalign>a {
    padding-right: 0.5em !important;
    padding-left: 0.5em !important;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Hubballi", sans-serif;
    /* font-weight: 800; */
    font-size: 0.5em;
}

@media (minwidth:425px) and (max-width: 1800px) {
    .rightalign>a {
        padding-right: 4em !important;
        padding-left: 0.5em !important;
        font-size: 0.5em;
    }
}

.change {
    font-size: 20px !important;
    margin-right: 1em;
}

.logo {
    font-size: 18px;
}

.color>a {
    color: white !important;
}

.n1 {
    display: flex;
    justify-content: flex-start;
}

.n2 {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin-right: 5%;
}

div>.nb {
    display: flex;
    justify-content: center;
    padding-right: 7.5%;
    width: 70%;
    color: white;
    font-family: "Nunito", sans-serif;
}

.navbar-toggler {
    display: inline;
}

.banner {
    display: grid;
    place-items: center;
    place-content: center;
    max-width: 100%;
    min-height: 400px;
    background-image: url("../img/new_bg.png");
    background-size: cover;
    text-align: center;
    align-items: center;
    justify-content: center;
    color: white;
    background-repeat: no-repeat;
    background-position: center center;
}

.navbar-alignment {
    margin-left: 16px;
}

@media (min-width: 1200px) {
    .banner {
        height: 660px;
    }
}

@media (max-width: 900px) {
    .banner {
        height: 600px;
    }
}


/* .newbanner{
    position: relative;
    max-width: 100%;
    -webkit-box-sizing: border-box !important;
    box-sizing: border-box !important;
    -moz-box-sizing: border-box;
} */


/* .first_content{
position: absolute !important;

} */


/* .newbanner-img{
    max-width: 100%;
    background-position: center center;
} */

.banner>h2 {
    font-family: "Ledger", sans-serif;
    font-size: 2.5em;
    line-height: 45px;
}

p {
    justify-content: end;
    align-items: flex-end;
    padding-top: 20px;
}

.banner>a {
    color: white;
}

.design {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0px 50px 50px 50px;
}

.firstDesign>h1 {
    font-size: 3.2em;
    font-family: "Ledger", sans-serif;
    letter-spacing: -1px;
}

.firstDesign>p {
    color: gray;
    font-family: "Poppins", sans-serif;
}

.firstDesign>a {
    color: black;
}

.img1 {
    width: 90%;
    float: right;
    border-radius: 10%;
}

.img3 {
    width: 90%;
    float: left;
    border-radius: 10%;
}

@media (max-width: 600px) {
    .img1 {
        width: 90%;
        float: none;
        border-radius: 10%;
    }
    .img3 {
        width: 90%;
        border-radius: 10%;
        float: none;
        padding: none;
    }
    .img3-txt {
        font-size: 1.5em;
        line-height: 0.5px;
        padding-top: 50px;
        padding-bottom: 8px;
        display: inline block;
    }
    .img1-txt {
        font-size: 1.5rem;
        padding-top: 50px;
        padding-bottom: 8px;
    }
    .img1-txt:hover,
    .img3-txt:hover {
        color: white;
    }
    @media (max-width: 575.5px) {
        .img1-mq {
            padding-top: 50px;
            padding-bottom: 10px;
        }
    }
}

.fnt>h3 {
    font-family: "Ledger", sans-serif !important;
}

.img-align {
    display: flex;
    padding-right: 20px;
}

.card-img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vh;
}

.p1 {
    text-align: center;
    font-family: "Nunito", sans-serif;
}

.p1>a {
    text-align: center;
    font-family: "Nunito", sans-serif;
    color: #ffffff;
    text-decoration: none;
}

.d1 {
    width: 100vw;
}

.p2 {
    text-align: center;
    /* padding-right: 7%; */
    font-family: "Nunito", sans-serif;
}

@media (min-width: 1200px) {
    .p2 {
        padding-right: 7%;
    }
}

.p2>a {
    text-align: center;
    font-family: "Nunito", sans-serif;
    color: #ffffff;
    text-decoration: none;
}

.lm {
    color: white;
    text-decoration: none;
    text-align: center;
}

.lmfs {
    font-size: 0.9em;
}

.carousel-main {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.carousel-main>h3 {
    font-family: "Ledger", sans-serif;
    font-size: 35px;
}

@media (max-width: 767px) {
    .carousel-inner .carousel-item>div {
        display: none;
    }
    .carousel-inner .carousel-item>div:first-child {
        display: block;
    }
}

.carousel-inner .carousel-item.active,
.carousel-inner .carousel-item-next,
.carousel-inner .carousel-item-prev {
    display: flex;
}

@media (min-width: 768px) {
    .carousel-inner .carousel-item-end.active,
    .carousel-inner .carousel-item-next {
        transform: translateX(25%);
    }
    .carousel-inner .carousel-item-start.active,
    .carousel-inner .carousel-item-prev {
        transform: translateX(-25%);
    }
}

.carousel-inner .carousel-item-end,
.carousel-inner .carousel-item-start {
    transform: translateX(0);
}

.carousel-card {
    border: none !important;
    background: rgb(0, 0, 0) !important;
}

.card-img>img {
    width: 70%;
}

.card {
    background: transparent;
}

.card>p {
    line-height: 1;
    font-family: "Poppins", sans-serif;
    font-weight: bolder;
    padding-top: none;
}

.img2 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 330px;
    background-color: #242323;
    border: 1px solid rgba(255, 255, 255, 0.315);
    border-radius: 30px;
    width: 80%;
    margin-bottom: 20px;
    padding-left: 20px;
}

.img2 {
    display: flex;
    text-align: center;
}

.banner1 {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 500px !important;
    background: url("../img/bg2.png");
    background-size: cover;
    text-align: center;
    align-items: center;
    justify-content: center;
    color: white;
    font-family: "Ledger", sans-serif;
    transition: opacity 0.6s ease 0s;
}

.some-class {
    display: block;
}

.banner1>h2 {
    font-weight: bold;
}

.banner1>a {
    color: white;
}

.person {
    margin-top: 50px;
}

.person-img {
    width: 30% !important;
    height: max-content;
}

.secondDesign>h1 {
    text-align: center;
    font-size: 2.5em;
    font-family: "Ledger", sans-serif;
    margin-top: 2em;
}

.secondDesign>p {
    text-align: center;
    color: gray;
    font-family: "Poppins", sans-serif;
    margin-bottom: 100px;
    padding: 0 10%;
}

.yt-frame {
    display: block;
    margin: auto;
    background-color: #777;
    margin-bottom: 50px;
}

@media (max-width: 400px) {
    .yt-frame {
        display: block;
        margin: auto;
        background-color: #777;
        margin-bottom: 50px;
        width: auto;
    }
}

.image-body {
    height: 300px;
    width: 200px;
    margin: 10px;
    background-size: cover;
}


/* .image1{
    background: url('../img/person/person1.0.png' );
    background-size: cover;
    transition: all 0.5s ;
} */

.image1:hover {
    opacity: 0;
    transition: all 1s;
    background-image: -moz-radial-gradient();
    transition: opacity 0.6s ease 0s;
    transition-property: opacity;
    transition-duration: 0.6s;
    transition-timing-function: ease;
    transition-delay: 0s;
    background: url("../img/person/person1.1.png");
}


/* .image11{
    background: url('../img/person/person1.0.png' );
    background-size: cover;
    transition: all 0.5s ;
    opacity:0 ;
} */


/* .image1{
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    object-fit: contain;
    opacity: 1;
    transition: opacity .2s;
    transition-property: opacity;
    transition-duration: 0.2s;
    transition-timing-function: ease;
    transition-delay: 0s;
  
} */

.image11 {
    opacity: 0;
    width: 267px;
}

.image2 {
    background: url("../img/person/person2.0.png");
    background-size: cover;
    transition: all 0.5s;
}

.image3 {
    background: url("../img/person/person3.0.png");
    background-size: cover;
    transition: all 0.5s;
}

.image4 {
    background: url("../img/person/person4.0.png");
    background-size: cover;
    transition: all 0.5s;
}

.image5 {
    background: url("../img/person/person5.0.png");
    background-size: cover;
    transition: all 0.5s;
}

.image6 {
    background: url("../img/person/person6.0.png");
    background-size: cover;
    transition: all 0.5s;
}

.image1:hover {
    background: url("../img/person/person1.1.png");
    background-size: cover;
}

.image2:hover {
    background: url("../img/person/person2.1.png");
    background-size: cover;
}

.image3:hover {
    background: url("../img/person/person3.1.png");
    background-size: cover;
}

.image4:hover {
    background: url("../img/person/person4.1.png");
    background-size: cover;
}

.image5:hover {
    background: url("../img/person/person5.1.png");
    background-size: cover;
}

.image6:hover {
    background: url("../img/person/person6.1.png");
    background-size: cover;
}

@media (max-width: 1000px) {
    .image1 {
        background-size: auto 60%;
        background-repeat: no-repeat;
        padding: none;
        margin: none;
        width: 120px;
        object-fit: cover;
        object-position: 100% 0;
    }
    .width {
        background-size: cover;
    }
    .image1:hover {
        background-size: auto 60%;
        background-repeat: no-repeat;
    }
    .image2 {
        background-size: auto 60%;
        background-repeat: no-repeat;
        padding: none;
        margin: none;
        width: 120px;
    }
    .image2:hover {
        background-size: auto 60%;
        background-repeat: no-repeat;
    }
    .image3 {
        background-size: auto 60%;
        background-repeat: no-repeat;
        padding: none;
        margin: none;
        width: 120px;
    }
    .image3:hover {
        background-size: auto 60%;
        background-repeat: no-repeat;
    }
    .image4 {
        background-size: auto 60%;
        background-repeat: no-repeat;
        padding: none;
        margin: none;
        width: 120px;
    }
    .image4:hover {
        background-size: auto 60%;
        background-repeat: no-repeat;
    }
    .image5 {
        background-size: auto 60%;
        background-repeat: no-repeat;
        padding: none;
        margin: none;
        width: 120px;
    }
    .image5:hover {
        background-size: auto 60%;
        background-repeat: no-repeat;
    }
    .image6 {
        background-size: auto 60%;
        background-repeat: no-repeat;
        padding: none;
        margin: none;
        width: 120px;
    }
    .image6:hover {
        background-size: auto 60%;
        background-repeat: no-repeat;
    }
}

.lastdesign>h1 {
    color: white;
    text-decoration: none;
    text-align: center;
    font-family: "Poppins", sans-serif;
}


/* .lastdesign>a{
    color: white;
    text-decoration: none;  
    transition: width 0.5s;
    width: max-content;

} */


/* .lastdesign>a:hover{
  color: #ffffff;
 background: linear-gradient(to right,#ff3c8a,#ff3527);
  font-family: 'Poppins', sans-serif;
  transition: all 0.5s;
  cursor: pointer;
  

} */

@media (min-width: 576px) {
    #cimg {
        font-size: xx-small;
    }
}

@media (min-width: 768px) {
    #cimg {
        font-size: xx-small;
    }
}

@media (min-width: 992px) {
    #cimg {
        font-size: xx-small;
    }
}

@media (min-width: 1200px) {
    #cimg {
        font-size: xx-small;
    }
}


/* .carousel-control-prev {
    transform: translateX(-100%);
} */


/* .carousel-control-next {
    transform: translateX(100%);
} */

.card1 {
    width: 200px;
    height: 200px;
    background-image: url("../img/items/item1.0.png");
    background-size: cover;
    /* transition: ease-in-out 0.19s; */
    display: flex;
    align-items: center;
    justify-content: center;
}

.card1:hover {
    background-image: url("../img/items/item1.1.png");
    background-size: cover;
}


/* .images{
    background-image: url("../img/items/item1.0.png");
    background-size: cover;
    
}
.images:hover {
    background-image: url("../img/items/item1.1.png");
    background-size: cover;
} */

.card2 {
    width: 190px;
    height: 190px;
    background-image: url("../img/items/item2.0.png");
    background-size: cover;
    transition: all 0.19s;
}

.card2:hover {
    background-image: url("../img/items/item2.1.png");
    background-size: cover;
}

.card3 {
    width: 190px;
    height: 190px;
    background-image: url("../img/items/item3.0.png");
    background-size: cover;
    transition: all 0.19s;
}

.card3:hover {
    background-image: url("../img/items/item3.1.png");
    background-size: cover;
}

.card4 {
    width: 190px;
    height: 190px;
    background-image: url("../img/items/item4.0.png");
    background-size: cover;
    transition: all 0.19s;
}

.card4:hover {
    background-image: url("../img/items/item4.1.png");
    background-size: cover;
}

.card5 {
    width: 190px;
    height: 190px;
    background-image: url("../img/items/item5.0.png");
    background-size: cover;
    transition: all 0.19s;
}

.card5:hover {
    background-image: url("../img/items/item5.1.png");
    background-size: cover;
}

.card6 {
    width: 190px;
    height: 190px;
    background-image: url("../img/items/item6.0.png");
    background-size: cover;
    transition: all 0.19s;
}

.card6:hover {
    background-image: url("../img/items/item6.1.png");
    background-size: cover;
}

.card7 {
    width: 190px;
    height: 190px;
    background-image: url("../img/items/item7.0.png");
    background-size: cover;
    transition: all 0.19s;
}

.card7:hover {
    background-image: url("../img/items/item7.1.png");
    background-size: cover;
}

body {
    margin: 0;
    padding: 0;
    background-color: #eee;
}

.image {
    width: 267px;
    transition: 1s;
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.loader-wrapper {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999999;
}

#loader {
    position: fixed;
}

.loader {
    display: inline-block;
    width: 30px;
    height: 30px;
    position: relative;
    border: 4px solid #fff;
    animation: loader 2s infinite ease;
}

.loader-inner {
    vertical-align: top;
    display: inline-block;
    width: 100%;
    background-color: #fff;
    animation: loader-inner 2s infinite ease-in;
}

@keyframes loader {
    0% {
        transform: rotate(0deg);
    }
    25% {
        transform: rotate(180deg);
    }
    50% {
        transform: rotate(180deg);
    }
    75% {
        transform: rotate(360deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes loader-inner {
    0% {
        height: 0%;
    }
    25% {
        height: 0%;
    }
    50% {
        height: 100%;
    }
    75% {
        height: 100%;
    }
    100% {
        height: 0%;
    }
}

@media screen and (max-width: 780px) {
    .leftAlign>a {
        padding: none;
        margin: none;
    }
    .name-text {
        display: none;
        width: 20px !important;
    }
    .leftAlign>a {
        padding: none;
        margin: none;
    }
}

@media (max-width: 1000px) {
    .name-text {
        text-align: center !important;
        padding-left: none !important;
        padding-right: none !important;
    }
}

.menu-dropdown {
    width: 96vw !important;
}

#navbarScrollingDropdown {
    color: WHITE !important;
}

.navbar-brand {
    margin-right: 3em;
}

.navbar-brand.abs {
    position: absolute;
    width: auto;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
}

@media (min-width: 200px) {
    .n2 {
        margin-left: 10%;
        margin-right: 5%;
    }
}

@media (min-width: 200px) and (max-width: 430px) {
    .navbar-brand {
        font-size: 0.9em;
    }
}


/* @media (max-width:599px){
    .n2{
   margin-right: 25%;
     }
     @media (max-width:579px){
        .navbar-brand {
       padding-left: 35%;
         }}
} */

@media (max-width: 768px) {
    .carousel-inner .carousel-item>div {
        display: none;
    }
    .carousel-inner .carousel-item>div:first-child {
        display: block;
    }
}

.carousel-inner .carousel-item.active,
.carousel-inner .carousel-item-next,
.carousel-inner .carousel-item-prev {
    display: flex;
}


/* a{
            border-bottom: 1px solid rgb(255, 255, 255);
            padding-bottom: 3px !important;
        } */

.image-hover {
    position: relative;
}


/* #cf,#cf1,#cf2,#cf3,#cf4,#cf5,#cf6{
  position: relative;
  height: 35vh;
  width: 16%;
} */


/* #cf img,#cf1 img ,#cf2 img,#cf3 img,#cf4 img,#cf5 img,#cf6 img{
  position: absolute;
  left: 0;
  -webkit-transition: opacity 0.3s ease-in-out;
  -moz-transition: opacity 0.3s ease-in-out;
  -o-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
} */


/* #cf img.bottom:hover,#cf1 img.bottom:hover,#cf2 img.bottom:hover,#cf3 img.bottom:hover,#cf4 img.bottom:hover,#cf5 img.bottom:hover,#cf6 img.bottom:hover {
  opacity: 0;
} */

#cf {
    position: relative;
    height: 35vh;
    width: 16%;
    /* overflow: hidden; */
}

#cf img {
    position: absolute;
    left: 0;
    -webkit-transition: opacity 0.3s ease-in-out;
    -moz-transition: opacity 0.3s ease-in-out;
    -o-transition: opacity 0.3s ease-in-out;
    transition: opacity 0.3s ease-in-out;
}

#cf img.bottom:hover {
    opacity: 0;
    cursor: pointer;
}

#cf1 {
    position: relative;
    width: 60%;
    height: 300px;
    /* overflow: hidden; */
}

#cf1 img {
    position: absolute;
    left: 0;
    max-width: 100%;
    width: 100%;
    height: 100%;
    object-fit: cover;
    -webkit-transition: opacity 0.3s ease-in-out;
    -moz-transition: opacity 0.3s ease-in-out;
    -o-transition: opacity 0.3s ease-in-out;
    transition: opacity 0.3s ease-in-out;
}

#cf1 img.bottom:hover {
    opacity: 0;
    cursor: pointer;
}

.person-box {
    margin-left: 15px;
    margin-right: 15px;
}

.pad {
    margin-left: 1%;
}

.alignment {
    padding-bottom: 10%;
}

.ft1 {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}

.bottom.top {
    padding-bottom: 100px;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    right: 50%;
}

@media screen and (min-device-width: 300px) and (max-device-width: 430px) {
    #cf {
        width: 15%;
        height: 15vh;
    }
}

@media screen and (min-device-width: 430px) and (max-device-width: 560px) {
    #cf {
        width: 15%;
        height: 18vh;
    }
}

@media screen and (min-device-width: 561px) and (max-device-width:640px) {
    #cf {
        width: 15%;
        height: 20vh;
    }
}

@media screen and (min-device-width:640px) and (max-device-width:800px) {
    #cf {
        width: 15%;
        height: 25vh;
    }
}

@media screen and (min-device-width: 750px) {
    #cf {
        width: 15%;
        height: 33vh;
        margin-bottom: 7%;
    }
}

.dots {
    font-size: 50px;
}

.carl {
    color: #eee;
}

.t1 {
    display: flex;
    opacity: 1;
}


/* .t1:hover{
         
           display: none;
       } */

.navbar {
    padding-bottom: 0.1rem !important;
}

.bg-dark {
    --bs-bg-opacity: 0;
    background-color: rgba(var(--bs-dark-rgb), var(--bs-bg-opacity)) !important;
}

#more-items {
    color: white;
    font-size: medium !important;
    /* left: 30%; */
    letter-spacing: 3px !important;
    font-family: "Hubballi", sans-serif;
    box-shadow: inset 0 0 0 0 #ffffff;
    margin: 0 -0.25rem;
    padding: 0 0.25rem;
    transition: color 0.5s ease-in-out, box-shadow 0.5s ease-in-out;
    border-radius: 10px;
    padding: 0.4em;
    font-weight: bold;
}

#more-items:hover {
    box-shadow: inset 200px 0 0 0 #ffffff;
    color: rgb(0, 0, 0);
    /* border-radius: 1em; */
    transition: color 0.5s ease-in-out, box-shadow 0.5s ease-in-out;
}

.more-items-align {
    margin-top: 6%;
}

.lastdesign>a {
    color: white;
    text-decoration: none;
    font-family: "Poppins", sans-serif;
    background: #000;
    transition: 0.5s ease-in-out;
}

#bgimg {
    width: 100%;
    height: 500px !important;
}

.card-title {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5em;
    font-family: "Nunito", sans-serif;
    font-weight: bold;
    font-size: 30px;
}

.card-text {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2em;
    font-family: "Nunito", sans-serif;
}

.productp {
    display: inline !important;
}

.card-p {
    margin: 2em 4em 2em 4em !important;
    display: flex;
    display: inline-block !important;
}

.carl {
    /* display: block !important; */
    width: 500px !important;
    display: block !important;
    display: flex;
}

.cp {
    font-size: 1.5em !important;
    margin-top: 1em !important;
    margin-bottom: 1.3em;
}

.bn {
    margin-left: 4.9em;
}

.ct {
    font-size: 20px !important;
    font-family: "Hubballi", sans-serif;
    margin-top: 3em !important;
}

::selection {
    color: rgb(0, 0, 0);
    background: #f8a986;
}

.hd {
    text-align: center;
    font-family: "Courier New", Courier, monospace;
}

#hd {
    margin-top: 80px;
}

.aboutq {
    text-align: center;
}

@media screen and (min-device-width: 100px) and (max-device-width: 400px) {
    #abt {
        width: 95% !important;
        height: auto !important;
    }
}

@media screen and (min-device-width: 800px) and (max-device-width: 1000px) {
    #abt {
        width: 70% !important;
        height: auto !important;
    }
}

@media screen and (min-device-width: 1001px) and (max-device-width: 1600px) {
    #abt {
        width: 50% !important;
        height: auto !important;
    }
}

#abt {
    width: 80%;
    height: auto;
}

.abt {
    display: flex;
    align-items: center;
    justify-content: center;
}

.pdl {
    padding: 1.3em;
    font-family: "Courier New", Courier, monospace;
    font-weight: 400;
    font-size: 1.18em;
}

.article1 {
    margin: 1.5em;
    font-family: "Courier New", Courier, monospace;
    font-weight: 400;
    font-size: 1.18em;
}

* {
    box-sizing: border-box;
}

.container {
    position: absolute;
    width: 80%;
    height: auto;
}

.image {
    display: flex;
    width: 100%;
    height: auto;
}

.overlay {
    position: absolute;
    bottom: 0;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.5);
    /* Black see-through */
    color: #f1f1f1;
    width: 100%;
    transition: 0.5s ease;
    opacity: 0;
    color: white;
    font-size: 20px;
    padding: 20px;
    text-align: center;
}

.container:hover .overlay {
    opacity: 1;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

#navbar {
    background: #000 !important;
    z-index: 99999;
}

@media screen and (min-device-width: 100px) and (max-device-width: 400px) {
    .yt-frame {
        width: 100% !important;
        height: auto !important;
    }
}

@media screen and (min-device-width: 401px) and (max-device-width: 630px) {
    .yt-frame {
        width: 70dvw !important;
        height: 40dvh !important;
    }
}

@media screen and (min-device-width: 631px) and (max-device-width: 800px) {
    .yt-frame {
        width: 65dvw !important;
        height: 50dvh !important;
    }
}

@media screen and (min-device-width: 801px) {
    .yt-frame {
        width: 55dvw !important;
        height: 50dvh !important;
    }
}

.ttle {
    text-align: center;
}


/* From uiverse.io by @adamgiebl */

.cssbuttons-io {
    position: relative;
    font-family: inherit;
    font-weight: 500;
    font-size: 18px;
    letter-spacing: 0.05em;
    border-radius: 0.8em;
    border: none;
    background: linear-gradient(to right, rgb(146, 45, 255), rgb(255, 58, 232));
    color: #eee;
    overflow: hidden;
    margin-bottom: 1em;
}

.cssbuttons-io2 {
    left: 40.5% !important;
    right: 200px;
    display: grid;
    place-items: center;
    place-content: center;
}

@media screen and (min-device-width: 300px) and (max-device-width: 500px) {
    .cssbuttons-io2 {
        left: 30% !important;
    }
}

@media screen and (min-device-width: 700px) and (max-device-width: 999px) {
    .cssbuttons-io2 {
        left: 38% !important;
    }
}

@media screen and (min-device-width: 999px) and (max-device-width: 1100px) {
    .cssbuttons-io2 {
        left: 40.5% !important;
    }
}

@media screen and (min-device-width: 1100px) and (max-device-width: 1299px) {
    .cssbuttons-io2 {
        left: 41% !important;
    }
}

@media screen and (min-device-width: 1300px) and (max-device-width: 1519px) {
    .cssbuttons-io2 {
        left: 42.5% !important;
    }
}

@media screen and (min-device-width: 1520px) and (max-device-width: 1800px) {
    .cssbuttons-io2 {
        left: 43.5% !important;
    }
}

.cssbuttons-io svg {
    width: 1.2em;
    height: 1.2em;
    margin-right: 0.5em;
}

.cssbuttons-io span {
    position: relative;
    z-index: 10;
    transition: color 0.1s;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 0.8em 1.2em 0.8em 1.05em;
}

.cssbuttons-io::before,
.cssbuttons-io::after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
}

.cssbuttons-io::before {
    content: "";
    background: #000;
    width: 120%;
    left: -12%;
    border: none;
    transform: skew(30deg);
    transition: transform 0.9s cubic-bezier(0.3, 1, 0.8, 1);
}

.cssbuttons-io:hover::before {
    transform: translate3d(100%, 0, 0);
}

.cssbuttons-io:active {
    transform: scale(0.95);
}

.aligntxt {
    text-align: center;
}

#user,
#pass,
#pass1 {
    line-height: 28px;
    border: 2px solid transparent;
    border-bottom-color: #ffffff;
    padding: 0.2rem 0;
    outline: none;
    background-color: transparent;
    color: #ffffff;
    transition: 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
    padding-right: 3em;
    display: block;
}

#user:focus,
#user:hover,
#pass:focus,
#pass:hover,
#pass1:focus,
#pass1:hover {
    outline: none;
    padding: 0.2rem;
    padding-right: 5em;
    padding-left: 0.5em;
    border-image: linear-gradient(to right, rgb(146, 45, 255), rgb(255, 58, 232));
    border-image-slice: 1;
    display: block;
}

#user::placeholder,
#pass::placeholder,
#pass1::placeholder {
    color: #ffffff;
}

#usert:focus::placeholder #pass:focus::placeholder #pass1:focus::placeholder {
    opacity: 0;
    transition: opacity 0.3s;
}

.user1 {
    display: grid;
    align-items: center;
    justify-content: center;
    margin: 2em;
}

.or {
    text-align: center;
    margin-bottom: 1.5em;
    margin-top: 0.7em;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif !important;
    font-size: 1.1em;
}

.empty {
    display: flex;
    justify-content: center;
    align-items: center;
}

.no-order {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    margin-top: 45px;
}

.cart {
    margin-top: 20px;
}

.align {
    color: white;
    font-family: "Poppins", sans-serif;
    background: #000;
    background: linear-gradient(to left, #000000 50%, #ae00ff 50%) right;
    border-radius: 15px;
    background-size: 250%;
    padding-left: 30px;
    padding-right: 30px;
    padding: 0.6em;
    transition: 2s ease-in-out;
    /* background: linear-gradient(to right,black 10%,purple 50%)right; */
}

.align:hover {
    transition: 0.5s ease-in-out;
    background-position: left;
    color: #eee;
    padding-left: 30px;
    padding-right: 30px;
}

.btnplace {
    display: flex;
    justify-content: center;
    align-items: center;
}

.pass-display {
    text-align: center;
    font-size: 1em;
}

.i {
    border-radius: 50%;
    border: 1px solid white;
    padding: 2px;
    background: orange;
    padding-left: 7px;
    padding-right: 7px;
    transition: 0.5s ease-in-out;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.i:hover {
    color: #000;
    background: red;
    transition: 0.5s ease-in-out;
}

.main-image-terms {
    margin-top: 3em;
    max-width: 100%;
    margin-bottom: 3em;
}

.image-borders {
    border-top: 2px solid white;
    border-bottom: 2px solid white;
    display: grid;
    place-items: center;
}

.terms {
    margin-top: 80px;
    text-align: center;
    font-family: "Ledger", sans-serif;
    font-size: 2.7em;
}

.para {
    padding-left: 21px !important;
    padding-right: 21px !important;
    text-align: center !important;
    font-size: 1.3em;
    font-weight: 100;
    margin-bottom: 1em;
}

.tittle {
    text-align: center;
    margin-top: 60px;
    font-family: "Ledger", sans-serif;
}

.tittle>h2 {
    font-size: 2.5em;
    font-weight: 400;
}

.tittle-d {
    margin-bottom: 70px;
}

.para>a {
    color: rgb(255, 255, 255);
    padding-left: 5px;
    padding-right: 5px;
    display: inline-block;
}

#a-animation {
    position: relative;
    padding-bottom: 7px;
    font-weight: bold;
}

#a-animation::after {
    content: "";
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2.3px;
    background-color: rgb(255, 255, 255);
    position: absolute;
    transition: all .5s ease 0s;
}

#a-animation:hover::after {
    width: 60%;
    left: 20%;
    transition: all .5s ease 0s;
}

#center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.bold-1 {
    font-weight: bold;
}

#first-txt {
    letter-spacing: 1px;
    font-family: "Gen Sontoloyo", sans-serif;
    font-family: "Ledger", sans-serif;
}

#test,
#test1 {
    opacity: 1;
}

.groove {
    margin-top: 60px;
    margin-bottom: 50px;
    font-family: "Ledger", sans-serif;
    text-align: center;
}

.policy-align {
    left: 14em;
    position: relative;
}

.policy-content>h2 {
    text-align: center;
    margin-top: 40px;
    font-family: "Ledger", sans-serif;
    margin-bottom: 40px;
    font-size: 30px;
    margin-left: 25px;
    margin-right: 25px;
}

.policy-content>p {
    margin-left: 60px;
    margin-right: 50px;
    padding-top: none !important;
    font-size: 17px;
    margin-bottom: 90px;
}

ol {
    margin-left: 60px;
    margin-right: 60px;
}

.small-para {
    margin-bottom: 20px !important;
}

.no-scroll {
    overflow: hidden;
}

.scroll {
    overflow-x: scroll;
}

@media (max-width:900px) {
    .contact {
        display: none;
    }
}

@media (min-width: 1100px) {
    .mapcontact {
        display: flex;
        justify-content: space-around;
        margin-top: 30px;
    }
    .contact {
        display: flex;
        align-items: center;
        text-align: center;
        font-size: 20px;
        padding-right: 2em;
        justify-content: center;
    }
    .map {
        place-items: center;
    }
    .map>iframe {
        width: 55vw !important;
        height: 500px !important;
    }
    .contact1 {
        display: none;
    }
}

@media (min-width: 900px) and (max-width: 1100px) {
    .map>iframe {
        width: 55vw !important;
        height: 500px !important;
    }
    .contact1 {
        display: none;
    }
    .contact {
        display: flex;
        align-items: center;
        text-align: center;
        font-size: 20px;
        padding-right: 5em;
        justify-content: center;
    }
    .mapcontact {
        display: flex !important;
        justify-content: space-around;
        margin-top: 30px;
    }
}

@media (max-width: 900px) {
    /* .contact {
    display: none;
  } */
    .map {
        overflow: hidden;
        margin-top: 50px;
    }
    .map>iframe {
        width: 100%;
        height: 400px;
    }
}

.selector select {
    background-color: transparent;
    border: 1px solid white;
    padding: 10px 50px;
    color: white;
    width: 250px;
}

.selector select option {
    background-color: #000;
    border: 1px solid #000;
}

.main1 {
    margin-top: 80px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.selector h3 {
    margin-bottom: 30px;
}

.coming-soon-main {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
}

.txt-reveal {
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    transition: all 1.5s;
    transform: translateY(-3em);
}

.local {
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    transition: all 1.5s;
    transform: translateY(-3em);
}

#web-fix {
    margin-left: 0 !important;
    margin-right: 0 !important;
}

.card-p {
    margin: 2em 2em !important;
}